
  <div class="home-welcome sixteen columns">
    <h2><%- t('Calipso Repository') %></h2>
    <p>This is the current list of modules, themes and profiles registered for use within Calipso.  If you've created your own, please register and you can submit your own module, theme or profile to be listed here, it's very easy - you just need to point this at your github page.</p>
  </div>
  <br class="clear"/>
  <div class="one-third column alpha repo-home">
    <h3>Latest Modules</h3>
    <table>
    <% mods.forEach(function(item) { %>
      <tr>
        <td>
          <a href="/repo/show/<%= item.type %>/<%= item.name %>"><%= item.name %></a>
        </td>
        <td>
          <a href="/user/profile/<%= item.author %>"><%= item.author %></a>
        </td>
        <td>
          <%= prettyDate(item.updated) %>
        </td>
      </tr>
    <% }) %>
    </table>
    <% if (user.username) { %>
      <a href="/repo/create/module" style="float: left">Submit new module ...</a>
    <% } %>
    <a href="/repo/module"  style="float: right">... view all modules</a>
  </div>
  <div class="one-third column repo-home">
    <h3>Latest Themes</h3>
    <table>
    <%
    thms.forEach(function(item) {

      %>
       <tr>
        <td>
          <a href="/repo/show/<%= item.type %>/<%= item.name %>"><%= item.name %></a>
        </td>
        <td>
          <a href="/user/profile/<%= item.author %>"><%= item.author %></a>
        </td>
        <td>
          <%= prettyDate(item.updated) %>
        </td>
      </tr>
    <% }) %>
    </table>
    <% if (user.username) { %>
      <a href="/repo/create/theme" style="float: left">Submit new theme ...</a>
    <% } %>
    <a href="/repo/theme"  style="float: right">... view all themes</a>
  </div>
  <div class="one-third column omega repo-home">
    <h3>Latest Profiles</h3>
    <table>
    <% profiles.forEach(function(item) { %>
       <tr>
        <td>
          <a href="/repo/show/<%= item.type %>/<%= item.name %>"><%= item.name %></a>
        </td>
        <td>
          <a href="/user/profile/<%= item.author %>"><%= item.author %></a>
        </td>
        <td>
          <%= prettyDate(item.updated) %>
        </td>
      </tr>
    <% }) %>
    </table>
    <% if (user.username) { %>
      <a href="/repo/create/profile" style="float: left">Submit new profile ...</a>
    <% } %>
    <a href="/repo/profile"  style="float: right">... view all profiles</a>
  </div>
  <br class="clear">
  <div style="sixteen columns">
    <h2>All Modules, Themes & Profiles</h2>
    <div  class="repo-all">
     <% all.forEach(function(item) { %>
       <a href="/repo/show/<%= item.type %>/<%= item.name %>"><%= item.name %></a>&nbsp;
    <% }) %>
    </div>
  </div>
